/* Universal Selector*/

.mark{
    background-color: #e4e4eb !important;
}


*{
    margin:0px;
    padding:0px;
}
/* Type Selector*/
body{
    background-color: #5858b2;
}

h1{
    color:#ff0000 !important;
}

/* Class Selector*/
.container{
    width:1320px;
    min-height:500px;
    margin:auto auto;
    background-color:#ffffff;
}

/* ID Selector */
#footer{
    width:100%;
    background-color:#49494b;
    min-height:150px;
}

.row{
    min-height:10px;
}
.col100{
    width:100%;
}
.col50{
    width:50%;
    float:left;
}

.col75{
    width:75%;
    float:left;
}
.col25{
    width:25%;
    float:left;
}

@media screen and (max-width:740px){
    .container{
        width:700px;
        background-color: #ff0000;
    }

    .colmd50{
        width:50%;
        float:left;
    }

}

@media screen and (max-width:480px){

    .container{
        width:700px;
        background-color: #8aeba7;
    }

    .colsm100{
        width:100%;
    }   
}